/* Jeremy's starter css */

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto|Noto+Sans';
@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Bitter|Goudy+Bookletter+1911';
/* defaults */
html, body, #root, #content {
  margin: 0;
  padding: 0;
  width: 100vw;
  min-height: 100vh;
  display: block;
}
div, header, nav, footer {
  margin: 0;
  padding: 0;
}
h1 { padding: 35px 0 5px; }
h2 { padding: 20px 0 5px; }
h3 { padding: 10px 0 5px; }
h4, h5, h6, p { padding: 8px 0; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }

/* responsive text sizes */
html {
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 14px;
  background: rgb(255,255,255); 
}
h1 { font-size: 3.8rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }

/* tablet */
@media screen and (min-width: 420px){
  html { font-size: 15px; }
  h1 { font-size: 4.0rem; }
  h2 { font-size: 2.0rem; }
  h3 { font-size: 1.7rem; }
  h4 { font-size: 1.4rem; }
}

/* desktop */
@media screen and (min-width: 900px){
  html { font-size: 16px; }
  h1 { font-size: 4.2rem; }
  h2 { font-size: 2.1rem; }
  h3 { font-size: 1.8rem; }
  h4 { font-size: 1.5rem; }
}

/* splash styles */
.container-splash {
  width: 100%;
  height: 100vh;
  background: lightcyan;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("/Lion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.container-splash-top {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.container-splash-bottom {
  width: 100%;
  height: 10%;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.headline-splash {
  padding-top: 100px;
  font-size: 5rem;
  color: white;
  font-family: 'Goudy Bookletter 1911', serif;
}
.btn-splash-scroll {
  padding: 0 10px;
  font-size: 3rem;
  font-weight: bold;
}
.tag{
  font-size: 1.5rem;
  color: white;
  font-family: 'Bitter', serif;
}
.tag-span{
  font-style: italic; 
}
.nav-splash{
  font-size: 1.2rem;
  color: white;
}

/* parallax general styles */
.container-p {
  width: 100%;
  height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blue-see-thru {
  width: 100%;
  min-height: 60vh;
  background: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-bg {
  z-index: -1;
  display: block;
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/rexxar1.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.60;
  filter: alpha(opacity=60);
}

/* cards */
.card-row-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}
.card {
  max-width: 320px;
}

/* about component */
.about-paragraph-wrapper {
  text-align: none;
  justify-content: center;
}
.about-paragraph {
  padding: 0 2%;
  font-size: 1.3rem;
}